/* Global */

body{
    margin:auto;
    background-color:#121212;
    font-family: 'Inter', sans-serif;
    text-align:left;
    color:white;
    
}

.content,.connect{
    margin-left:10%;
    margin-right:10%;
    align-items:center;
    margin-top:100px;
    padding-bottom:50px;
    padding-top:100px;
    display:flex;
    align-items: flex-start;
}

#desc{
    opacity: 0;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: .6s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#about{
    max-height: 450px;
    padding-right:8%;
}

.title,#about{
    animation: fadeInAnimation ease-in 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

.title{
    font-size:60px;
    margin-top:0;
    padding-bottom: 25px;
}

.title, .content{
    border-bottom: 1.5px solid #2d2d2d;
}

h2{
    font-size:20px;
    font-weight: bold;
}

p{
    color:#cfcfcf;
    line-height: 1.5;
    max-width: 100%;
}

#gradient,#click-button{
    background: -webkit-linear-gradient(left, rgb(133, 196, 255) 20%, rgb(107, 182, 101) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#highlight{
    color:rgb(107, 182, 101);
}

/* Nav bar */

#nav-menu-button{
    display:none;
}

#mobile-nav-bar{
    display:none;
}

.nav-menu-container{
    display:none;
}

.nav-bar{
    padding-left:10%;
    padding-right:10%;
    margin-top:-50px;

    z-index: 100;
    position:fixed;
    box-sizing: border-box;

    width:100%;
    display: flex;

    letter-spacing:.05em;
    justify-content: space-between;
    align-items: center;

    transition: background-color 0.1s ease-in-out;
}

.nav-bar.scrolled{
    margin-top:-150px;
    background-color: #121212;
    box-shadow: 0 0 50px 20px 121212;
    background: linear-gradient(180deg, #121212 60%, rgba(255,255,255,0)100%);
    height:275px;
    z-index: 99;
}

.logo{
    cursor: pointer;
    max-height:75px;
}

/* Nav bar */

.nav{
    list-style: none;
}

.nav li{
    display: inline-block;
    padding-left: 30px;
}

.nav li a{
    color: rgb(207, 207, 207);
    text-decoration:none;
}

.nav-button a:hover, .lang-button a:hover, .give-button a:hover .hover-button:hover{
    transition: all .3s ease 0s;
    color:#6bb665;
}

.hover-button{
    font-weight: bold;
    cursor: pointer;
    color:white;
}

#selected{
    color:white;
    font-weight:600;
}

/* Connect Section */

.connect{
    margin-top:0;
    display:flex;
    align-items: flex-start;
}

.connect-bio,.connect-form{
    width:50%;
}

.connect-bio{
    text-align:left;
    max-width: 50%;
}

.connect-bio i{
    font-size:45px;
    margin-top:20px;
    padding-right:15px;
    cursor:pointer;
    transition: color .1s ease-in-out;
    color:white;
}

.connect-bio i:hover{
    color:#6bb665;
}

.connect-bio h2{
    margin: 0;
}

.connect-bio p{
    color: rgb(207, 207, 207);
    max-width: 85%;
    line-height: 1.5;
}

form{
    padding-left:20%;
    max-width:80%
}

form textarea, form input{
    padding-left:8px;
    margin-top:5px;
    width: 100%;
    box-sizing: border-box;
    background-color:#1d1c22;
    border: 1px solid #7a758f;
    border-radius: 7px;
    height:30px;
    color:white;
    resize:none;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

form input,form textarea{
    margin-top:10px;
}

form label{
    font-weight: bold;
}

#message{
    padding-top:8px;
    height: 60px;
}

input[type="submit"]{
    background-color:#6bb665;
    border: 1px solid #6bb665;
    font-weight: bold;
    cursor:pointer;
    transition: background-color .1s ease-in-out, border .1s ease-in-out;
}

input[type="submit"]:hover{
    background-color:#7ec579;
    border: 1px solid #7ec579;
}

::placeholder{
    color:#a9a5b8;
}

/* Footer */

.footer{
    color:#a9a5b8;
    text-align:center;
    margin-top:100px;
    margin-bottom:25px;
}


#click-button{
    cursor:pointer;
    font-weight: bold;
}.nav-button a:hover, .lang-button a:hover, .give-button a:hover, .hover-button:hover{
    transition: all .3s ease 0s;
    color:rgb(107, 182, 101);
}

#colored-button,#transparent-button{
    font-family: 'Inter', sans-serif;
    font-size:large;
    font-weight: 700;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top:10px;
}

#colored-button:hover,#transparent-button:hover,#colored-button{
    color:#121212;
    border: none;
}

#colored-button{
    background-image: linear-gradient(to left, rgb(133, 196, 255), rgb(107, 182, 101));
}

#colored-button:hover,#transparent-button:hover{
    background: white;
    transition: background-image .4s,background-color .4s;
}

#transparent-button{
    margin-left:2%;
    color:white;
    border: 1.6px solid white;
    background: #121212;
}

#transparent-button:hover{
    border: 1.6px solid white; /* This provides animation */
}

@media only screen and (max-width: 481px){
    /* Global */

    body{
        max-width: 100%;
        margin:auto;
        background-color:#121212;
        font-family: 'Inter', sans-serif;
        text-align:left;
        color:white;
        
    }
    
    .content{
        margin-left:10%;
        margin-right:10%;
        align-items:center;
        margin-top:100px;
        padding-top:100px;
        display:grid;
    }
    
    #bio{
        font-size:24px;
        opacity: 0;
        padding-top:50px;
        animation: fadeInAnimation ease 1.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: .6s;
    }
    
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    #about-mobile{
        margin:auto;
        display:block;
    }

    #about{
        display:none;
    }
    
    .title,#about-mobile{
        animation: fadeInAnimation ease-in 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    
    .title{
        font-size:55px;
        margin-top:0;
        border-bottom: 1.5px solid #2d2d2d;
        padding-bottom: 25px;
    }
    
    h2{
        font-size:30px;
        font-weight: bold;
    }
    
    p{
        font-size:20px;
        color:#cfcfcf;
        line-height: 1.5;
        max-width: 100%;
    }
    
    #gradient{
        background: -webkit-linear-gradient(left, rgb(133, 196, 255) 20%, rgb(107, 182, 101) 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    #highlight{
        color:rgb(107, 182, 101);
    }
    

    .nav-menu-container{
        display:block;
    }

    #nav-menu-button{
        background: none;
        display:block;
        font-size: 25px;
    }

    #mobile-nav-bar.fade{
        display:block !important;
        opacity:1 !important;
    }

    #mobile-nav-bar{
        opacity:0;
        transition: opacity .2s !important;
        display:none !important;
        z-index:5;
        position: relative;
        background-color: #121212;
        padding-bottom:100%;
        background: linear-gradient(180deg, rgba(255,255,255,0)5.5%, #121212 5.5%);
    }

    #mobile-nav-bar ul{
        margin:auto;
        padding:0;
        padding-top:40%;

        list-style: none;
        text-align: center;
    }

    #mobile-nav-bar a{
        color:white;
        font-weight: bold;

        line-height: 2.2;
        font-size:50px;
        text-decoration: none;
    }

    #mobile-nav-bar{
        padding-left:10%;
        padding-right:10%;
        margin-top:-50px;

        position:fixed;
        box-sizing: border-box;

        width:100%;
        display: flex;

        letter-spacing:.05em;
        justify-content: space-between;
        align-items: center;

        transition: background-color 0.1s ease-in-out;
    }

    .nav-bar.scrolled{
        margin-top:-150px;
        background-color: #121212;
        box-shadow: 0 0 50px 20px 121212;
        background: linear-gradient(180deg, #121212 60%, rgba(255,255,255,0)100%);
        height:275px;
        z-index: 99;
    }

    /* Nav bar */

    .nav-bar{
        z-index:10;
    }

    .nav{
        display:none;
        list-style: none;
    }

    .nav li{
        display: inline-block;
        padding-left: 30px;
    }

    .nav li a{
        color: rgb(207, 207, 207);
        text-decoration:none;
    }

    .nav-button a:hover, .lang-button a:hover, .give-button a:hover, .hover-button:hover{
        transition: all .3s ease 0s;
        color:rgb(107, 182, 101);
    }

    #selected{
        color:white;
        font-weight:600;
    }

    /* Connect Section */

    .connect{
        display:inline-block;
        align-items: center;
    }

    .connect h2{
        font-size:35px;
    }

    .connect-bio,.connect-form{
        width:100%;
    }

    .connect-bio{
        font-size:20px;
        text-align:center;
        max-width: 100%;
    }

    .connect-bio i{
        font-size:90px;
        margin-top:50px;
        margin-bottom:25px;
        padding-right:15px;
        cursor:pointer;
        transition: color .1s ease-in-out;
        color:white;
    }

    .connect-bio i:hover{
        color:#6bb665;
    }

    .connect-bio p{
        color: rgb(207, 207, 207);
        max-width: 100%;
        line-height: 1.5;
    }

    form{
        padding:0;
        margin:auto;
        margin-top:50px;
        max-width:100%
    }

    form textarea, form input{
        margin-top:5px;
        width: 100%;
        box-sizing: border-box;
        background-color:#1d1c22;
        border: 1px solid #7a758f;
        border-radius: 7px;
        height:30px;
        color:white;
        resize:none;
        font-family: 'Inter', sans-serif;
        font-weight: normal;
    }

    form input,form textarea{
        font-size:15px;
        margin-top:10px;
    }

    form label{
        font-size:20px;
        font-weight: bold;
    }

    #message{
        padding-top:8px;
        height: 60px;
    }

    input[type="submit"]{
        background-color:#6bb665;
        border: 1px solid #6bb665;
        font-weight: bold;
        font-size:15px;
        cursor:pointer;
        transition: background-color .1s ease-in-out, border .1s ease-in-out;
    }

    ::placeholder{
        color:#a9a5b8;
    }

    /* Footer */

    .footer{
        color:#a9a5b8;
        text-align:center;
        margin-top:50px;
        margin-bottom:30px;
    }
}