/* Global */

body{
    margin:auto;
    background-color:#121212;
    font-family: 'Inter', sans-serif;
    text-align:left;
    color:white;
    
}

.content{
    margin-left:10%;
    margin-right:10%;
    align-items:center;
    margin-top:100px;
    padding-top:100px;
    display:flex;
    align-items: flex-start;
}

#bio{
    opacity: 0;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: .6s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#about{
    max-height: 450px;
    padding-right:8%;
}

#about-mobile{
    display:none;
    border-radius: 50%;
    max-width: 90%;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.3);
}

.title,#about{
    animation: fadeInAnimation ease-in 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

.title{
    font-size:60px;
    margin-top:0;
    border-bottom: 1.5px solid #2d2d2d;
    padding-bottom: 25px;
}

h2{
    font-size:20px;
    font-weight: bold;
}

p{
    color:#cfcfcf;
    line-height: 1.5;
    max-width: 100%;
}

#gradient{
    background: -webkit-linear-gradient(left, rgb(133, 196, 255) 20%, rgb(107, 182, 101) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#highlight{
    color:rgb(107, 182, 101);
}

/* Nav bar */

#nav-menu-button{
    display:none;
}

#mobile-nav-bar{
    display:none;
}

.nav-menu-container{
    display:none;
}

.nav-bar{
    padding-left:10%;
    padding-right:10%;
    margin-top:-50px;

    z-index: 100;
    position:fixed;
    box-sizing: border-box;

    width:100%;
    display: flex;

    letter-spacing:.05em;
    justify-content: space-between;
    align-items: center;

    transition: background-color 0.1s ease-in-out;
}

.nav-bar.scrolled{
    margin-top:-150px;
    background-color: #121212;
    box-shadow: 0 0 50px 20px 121212;
    background: linear-gradient(180deg, #121212 60%, rgba(255,255,255,0)100%);
    height:275px;
    z-index: 99;
}

.logo{
    cursor: pointer;
    max-height:75px;
}

/* Nav bar */

.nav{
    list-style: none;
}

.nav li{
    display: inline-block;
    padding-left: 30px;
}

.nav li a{
    color: rgb(207, 207, 207);
    text-decoration:none;
}

.nav-button a:hover, .lang-button a:hover, .give-button a:hover{
    transition: all .3s ease 0s;
    color:#6bb665;
}

#selected{
    color:white;
    font-weight:600;
}

/* Footer */

.footer{
    color:#a9a5b8;
    text-align:center;
    margin-top:100px;
    margin-bottom:25px;
}


@media only screen and (max-width: 481px){
    /* Global */

    body{
        max-width: 100%;
        margin:auto;
        background-color:#121212;
        font-family: 'Inter', sans-serif;
        text-align:left;
        color:white;
        
    }
    
    .content{
        margin-left:10%;
        margin-right:10%;
        align-items:center;
        margin-top:100px;
        padding-top:100px;
        display:grid;
    }
    
    #bio{
        font-size:20px;
        opacity: 0;
        padding-top:50px;
        animation: fadeInAnimation ease 1.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: .6s;
    }
    
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    #about-mobile{
        margin:auto;
        display:block;
    }

    #about{
        display:none;
    }
    
    .title,#about-mobile{
        animation: fadeInAnimation ease-in 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    
    .title{
        font-size:55px;
        margin-top:0;
        border-bottom: 1.5px solid #2d2d2d;
        padding-bottom: 25px;
    }
    
    h2{
        font-size:30px;
        font-weight: bold;
    }
    
    p{
        color:#cfcfcf;
        line-height: 1.5;
        max-width: 100%;
    }
    
    #gradient{
        background: -webkit-linear-gradient(left, rgb(133, 196, 255) 20%, rgb(107, 182, 101) 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    #highlight{
        color:rgb(107, 182, 101);
    }
    

    .nav-menu-container{
        display:block;
    }

    #nav-menu-button{
        background: none;
        display:block;
        font-size: 25px;
    }

    #mobile-nav-bar.fade{
        display:block !important;
        opacity:1 !important;
    }

    #mobile-nav-bar{
        opacity:0;
        transition: opacity .2s !important;
        display:none !important;
        z-index:5;
        position: relative;
        background-color: #121212;
        padding-bottom:100%;
        background: linear-gradient(180deg, rgba(255,255,255,0)5.5%, #121212 5.5%);
    }

    #mobile-nav-bar ul{
        
        margin:auto;
        padding:0;
        padding-top:40%;

        list-style: none;
        text-align: center;
    }

    #mobile-nav-bar a{
        color:white;
        font-weight: bold;

        line-height: 2.2;
        font-size:50px;
        text-decoration: none;
    }

    #mobile-nav-bar{
        padding-left:10%;
        padding-right:10%;
        margin-top:-50px;

        position:fixed;
        box-sizing: border-box;

        width:100%;
        display: flex;

        letter-spacing:.05em;
        justify-content: space-between;
        align-items: center;

        transition: background-color 0.1s ease-in-out;
    }

    .nav-bar.scrolled{
        margin-top:-150px;
        background-color: #121212;
        box-shadow: 0 0 50px 20px 121212;
        background: linear-gradient(180deg, #121212 60%, rgba(255,255,255,0)100%);
        height:275px;
        z-index: 99;
    }

    /* Nav bar */

    .nav-bar{
        z-index:10;
    }

    .nav{
        display:none;
        list-style: none;
    }

    .nav li{
        display: inline-block;
        padding-left: 30px;
    }

    .nav li a{
        color: rgb(207, 207, 207);
        text-decoration:none;
    }

    .nav-button a:hover, .lang-button a:hover, .give-button a:hover, .hover-button:hover{
        transition: all .3s ease 0s;
        color:rgb(107, 182, 101);
    }

    #selected{
        color:white;
        font-weight:600;
    }

    /* Footer */

    .footer{
        color:#a9a5b8;
        text-align:center;
        margin-top:50px;
        margin-bottom:30px;
    }

}